extends ./../layout/template.jade

block body

  h1= page_title
  ul
    each member in team_members
      li
        h2
          strong= member.name
          | 
          em= member.position
        p= member.twitter_handle
  p
    a(href=page_link('index')) Index